

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f1ea;
    background-image: url('background.jpg');
    background-size: cover;
    color: #3b2f2f;
    min-height: 100vh;
}

/* HEADER & FOOTER */

header {
    background-color: #0e0a08;
    padding: 20px;
    margin-bottom: 20px;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #0e0a08;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top:0;
    margin-bottom: -10px;
    padding-bottom: 5px;
}

/* ----------------------- */


img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 5px solid #4b3d33;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.sinopsis {
    text-align: center;
    padding: 50px;
    color: #fff;
}

.sinopsis h1 {
    font-size: 48px;
    font-weight: bold;
}

.sinopsis p {
    color: black;
}

.presentation p {
    text-align:center;
}

section {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    color: #0e0a08;
    text-align: center;
}

h2 {
    color: #0e0a08;
    text-align: center;
}

.contact {
    margin-bottom: 120px;
}

/* LINKS AL FONDO */

ol {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

ol li {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    color: #3b2f2f;
}

ol li a {
    text-decoration: none;
    color: #3A1505;
    font-weight: bold;
    font-family: 'Georgia', serif;
    transition: color 0.3s ease;
}

ol li a:hover {
    color: #b08d57;
}

ol li::before {
    content: '\2713'; 
    font-size: 20px;
    color: #b08d57;
    position: absolute;
    left: -25px;
    top: 10px;
}

ol li:hover::before {
    color: #3b2f2f;
}

/* --------------------------------------- */



/* ABOUTME */

.aboutme {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.aboutme h1 {
    text-align: center;
    font-size: 42px;
    color: #181210;
}

.aboutme h2 {
    font-size: 28px;
    color: #3b2f2f;
    margin-top: 20px;
}

.aboutme p {
    font-size: 18px;
    line-height: 1.6;
    color: #3b2f2f;
}

/* ---------------------------- */

/* PÁGINA DE CONTACTO  */

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 120px;
}

.contact-form h2 {
    text-align: center;
    color: #6a4a3c;
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #3b2f2f;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #3b3b3b;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #3b2f2f;
}

.contact-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6a4a3c;
    color: #fff;
    border: none;
    font-size: 18px;
    font-family: 'Georgia', serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #b08d57;
}

.contact-form p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #3b2f2f;
}

/* ------------------- */

/* PORTFOLIO */

.portfoliomain {
    margin-bottom:120px;
}

#portfoliotext {
    text-align: center;
}

/* Estilo de Carruseles */
.carousel {
    margin-bottom: 40px;
}

.carousel h3 {
    text-align: center;
    color: #181210;
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-items {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    overflow: hidden; 
}

.carousel-items img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
    border: 2px solid #b08d57;
    transition: transform 0.3s ease;
}

.carousel-items img:hover {
    transform: scale(1.05);
}

.carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel-items {
    -ms-overflow-style: scroll;
    scrollbar-width: none; 
}

/* Media Queries */
@media (max-width: 768px) {
    .carousel-items {
        justify-content: start;
    }

    .carousel-items img {
        width: 95%;  
        height: auto;
        margin: 0; 
    }

    .carousel h3 {
        font-size: 20px;
    }
}



/* ESTILO FOOTER */

.curriculum {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 120px;
}

.curriculum h1, .curriculum h2, .curriculum h3, .curriculum h4 {
    color: #6a4a3c;
}

.curriculum h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}

.curriculum h2 {
    color: #181210;
    font-size: 28px;
    margin-top: 30px;
}

.curriculum h3 {
    color: #181210;
    font-size: 22px;
    margin-top: 20px;
}

.curriculum h4 {
    font-size: 18px;
    color: #3b2f2f;
    margin-top: 10px;
}

.curriculum p {
    font-size: 18px;
    line-height: 1.6;
    color: #3b2f2f;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 15px;
    background-color: #4b3d33;
    color: #fff;
}

footer a {
    color: #b08d57;
    text-decoration: none;
    font-weight: bold;
}

/* STYLE SERVICIOS */

.services {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

.service-container {
    display: flex; 
    justify-content: space-between; 
}

.service {
    flex: 1; 
    margin: 10px; 
    padding: 15px; 
    border: 1px solid #858585; 
    border-radius: 8px; 
    background-color: #d3d3d3ec;
}

.contact-form h2, .contact-form h1 {
    color:#181210;
}


.descarga-curriculum {
    text-align: center;
}